.editor-container {
    display: flex;
    padding: 10px;
}

.rowtype-selector-container {
    background-color: chocolate;
    padding: 4px 4px 4px 8px;
    overflow-y: auto;
    height: 80vh;
    position: fixed;
    left: 515px;
    width: 400px;
}

.track-rows {
    display: flex;
    flex-direction: column-reverse;
}

.row {

}

.tile {
    display: inline-block;
    border: 2px solid rgb(112, 102, 102);
    width: 60px;
    height: 60px;
}

.tile-action {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.add-row-button {
    cursor: pointer;
}

.add-row-at-position-container {
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 12px 5px 10px;
    margin-bottom: -14px;
}

.add-row-at-position-selected {
    background: chocolate;
}

.add-row-at-position-hidden {
    visibility: hidden;
}

.add-row-at-position-button {
    
}

