<section class="new-row-type-container" *ngIf="showNewTileSelector">
    <div *ngFor="let tileNum of newTilesArray; let i = index;">
        <tile-selector (tileSelected)="onNewTileSelected($event, i)"
            [colors]="colors"></tile-selector>
    </div>
    <div>
        <button (click)="addNewRow()" [disabled]="!isNewRowValid">Add to list</button>
    </div>
</section>
<section class="new-row-type-container" *ngIf="!showNewTileSelector">
    <button (click)="onShowNewTileSelectorClicked()">New row type</button>
</section>
<p>Pick a rowtype to add</p>
<section class="row-selector-container">
    <div class="row-selector" *ngIf="availableRowTypes">
        <div *ngFor="let rowType of availableRowTypes | reverse"
            class="rowType">
            <button class="select-row-button" (click)="selectRowType(rowType)">Select</button>
            <div *ngFor="let tile of rowType.tiles"
                class="tile"
                [style.background-color]="tile.effect === 'hole' ? '#000' : colors[tile.colorName]"
                >
                <span *ngIf="tile.effect">{{ tile.effect }}</span>
                <span *ngIf="!tile.effect">&nbsp;</span>
            </div>
        </div>
    </div>
</section>